{% extends 'main/base.html' %} {% load static %} {% block main %}
<style>
    .title {
        text-align: center;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-10 col-md-10 mx-auto">
                            <h1 class="title mobile-head">{{ article.heading }}</h1>
                            <small class="float-right text-secondary">by
                                {{ article.author.first_name }}
                                {{ article.author.last_name }} on
                                {{ article.creation_date }}</small>

                        </div>
                    </div>
                </div>
            </header>
            <article>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-10 col-md-10 mx-auto">
                            <hr> {% autoescape off %} {{ body }} {% endautoescape %}

                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="col-md-4 col-sm-12">
            <br><br> {% if rec_len > 1 %}
            <h3 style="text-align: center;">Recent</h3>

            {% for r in rec %} {% if article.slug != r.slug %}
            <a href="{% url 'article-detail' r.slug %}" style="text-decoration: none;color: #444;">
                <div class="card my-5 rec_cards">
                    <img class="card-img-top" src="{{ r.dp }}" alt="Image">
                    <div class="card-body">

                        <h4 class="card-title">{{ r.heading }}</h4>

                        <p class="card-text">{{ r.discription | truncatechars:155 }}</p>
                    </div>
                </div>
            </a>

            {% endif %} {% endfor %} {% endif %}


        </div>
    </div>
</div>

<br><br> {% endblock %}