{% extends 'editor/base.html' %} {% load static %} {% block main %}
<h2 style="padding: 5px;">{{ label }}</h2>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-sm-12">
            {% if articles == 0 %}
            <p style="font-size: 1.5rem;">There are no Blogs<br>
                <a href="{% url 'createBlog' %}">Click to Create New Blog</a>
            </p>
            {% else %} {% for article in articles %}
            <div style="border-radius: 5px;box-shadow: 0px 0px 5px grey;margin:20px;padding:5px;">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="{{ article.dp }}" width="420px">
                    </div>
                    <div class="col-md-6 col-sm-12 px-4">
                        <a href="{% url 'showarticle' article.slug %}">
                            <h3 style="text-align: center;">{{ article.heading }}</h3>
                        </a>
                        <p style="font-size: 0.7rem;float: right;">Date: {{ article.creation_date }}</p>

                        <hr>
                        <p> {{ article.discription }} </p>
                    </div>
                </div>
            </div>
            {% endfor %} {% endif %}
            <hr> {% if articles.paginator.num_pages > 1 %}
            <div class="btn-group p-3" role="group">
                <span class="step-links">
                    {% if articles.has_previous %}
                    <a class="btn btn-success" href="?page=1">&laquo; first</a>
                    <a class="btn btn-success" href="?page={{ articles.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="badge" style="padding:14px;">
                        Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
                    </span> {% if articles.has_next %}
                <a class="btn btn-success" href="?page={{ articles.next_page_number }}">next</a>
                <a class="btn btn-success" href="?page={{ articles.paginator.num_pages }}">last &raquo;</a> {% endif %}
                </span>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}